/*       button and   nav bar       backgroung*/
#TobNavBar, .login-form .footer .button, .login-form .footer .button:focus, .button-primary, li.potato-menu-item{
	background-color: #2C9FBB;
	color: #fff;
}
/*     hover   */
li.potato-menu-item:hover , .button-primary:hover{
	background-color: #2B7791;
}
/*        Header      and      footer       background*/


/*Table head */
.CSSTableGenerator tr:first-child td , table tr th{
	background-color: #84C0D1;
	color: #114753;
	font-size: 105%;
}
.login-form .footer, #header, #footer {
	background-color: #d4dedf;
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4dedf', endColorstr='#d4dedf', GradientType=0 ); /* IE6-9 */

	border-top: 1px solid #fff;
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}

#WrapperFull, .login-form {
	background-color: #f3f3f3;
}

body{
	background-color: #EAEDEE; 
	 
/*	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(205,212,216,1) 100%, rgba(245,247,249,1) 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(205,212,216,1)), color-stop(100%,rgba(245,247,249,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(205,212,216,1) 100%,rgba(245,247,249,1) 100%); 
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(205,212,216,1) 100%,rgba(245,247,249,1) 100%); 
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(205,212,216,1) 100%,rgba(245,247,249,1) 100%); 
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(205,212,216,1) 100%,rgba(245,247,249,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f7f9',GradientType=0 );  
*/	
}