* {
    margin: 0;
    padding: 0;
}

@media print {
    #HPageWrapper {
        background: none !important;
    }

    #printButton {
        display: none !important;
    }

}

#printButton {
    text-align: center;
    margin: 15px 0;
    border-bottom: 2px dashed #2B9FBB;
    padding-bottom: 5px;
}

.button-primary {
    background-color: #2C9FBB;
    padding: 5px 20px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid #46b3d3;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: inset 0 0 2px rgba(256, 256, 256, 0.75);
    -moz-box-shadow: inset 0 0 2px rgba(256, 256, 256, 0.75);
    -webkit-box-shadow: inset 0 0 2px rgba(256, 256, 256, 0.75);
    font-size: 18px;
}

.button-primary:hover {
    background: #2B7791;
    border: 1px solid rgba(256, 256, 256, 0.75);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

@font-face {
    font-family: 'al_jass_zq';
    src: url('../../_fonts/jasscoozq.eot');  /* IE9 Compat Modes */
    src: url('../../_fonts/jasscoozq.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../_fonts/jasscoozq.woff') format('woff'), /* Modern Browsers */ url('../../_fonts/jasscoozq.ttf') format('truetype'), /* Safari,Android,iOS */ url('../../_fonts/jasscoozq.svg#al_jass_zqregular') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

body {
    direction: rtl;
    text-align: center;
    font-family: 'al_jass_zq';
    font-size: 18px;
    white-space: nowrap;
}

.dateDiv {
    font-size: 16px;
    text-align: center;
    vertical-align: top;
}

#HPageWrapper {
    z-index: 0;
    position: relative;
    height: 20.4cm;
    width: 29cm;
    border: none;
    margin: 0 auto;
    padding: 0;
    background: url(../../_images/Shahadah_10_g.jpg) no-repeat;
    background-size: 1094px 779px;
}

#containerDiv1 {
    width: 234px;
    height: 163px;
    position: absolute;
    left: 616px;
    top: 181px;
    /* border: 1px solid gray; */
    text-align: right;
    font-size: 95%;
}

.FieldDiv {
    /*text-align: right;*/
    vertical-align: middle;
}

#containerDiv2 .FieldDiv {
    font-size: 120%;
    padding-top: 2px;
}

#apDiv1 {
    position: absolute;
    left: 5px;
    top: -2px;
    width: 225px;
    height: 26px;
    z-index: 1;
    text-align: center;
}

#apDiv2 {
    position: absolute;
    left: 2px;
    top: 40px;
    width: 169px;
    height: 26px;
    z-index: 1;
}

#apDiv3 {
    position: absolute;
    left: 3px;
    top: 104px;
    width: 168px;
    height: 28px;
    z-index: 1;
}

#apDiv4 {
    position: absolute;
    left: 3px;
    top: 136px;
    width: 169px;
    height: 28px;
    z-index: 1;
}

#apDiv5 {
    position: absolute;
    left: 4px;
    top: 74px;
    width: 167px;
    height: 28px;
    z-index: 1;
}

#apDiv6 {
    position: absolute;
    left: 0px;
    top: 50px;
    width: 99px;
    height: 468px;
    z-index: 1;
}

#apDiv7 {
    position: absolute;
    left: 308px;
    top: 51px;
    width: 100px;
    height: 383px;
    z-index: 1;
}

#apDiv8 {
    position: absolute;
    left: 231px;
    top: 484px;
    width: 102px;
    height: 34px;
    z-index: 1;
    font-size: 16px;
}

#apDiv9 {
    position: absolute;
    left: 310px;
    top: 4px;
    width: 66px;
    height: 28px;
    z-index: 1;
}

#apDiv10 {
    position: absolute;
    left: 311px;
    top: 43px;
    width: 65px;
    height: 28px;
    z-index: 1;
}

#apDiv11 {
    position: absolute;
    left: 207px;
    top: 2px;
    width: 52px;
    height: 28px;
    z-index: 1;
}

#apDiv12 {
    position: absolute;
    left: 103px;
    top: 51px;
    width: 99px;
    height: 428px;
    z-index: 1;
}

#containerDiv2 {
    width: 509px;
    height: 598px;
    position: absolute;
    left: 98px;
    top: 44px;
    /* border: 1px solid gray; */
}

#apDiv13 {
    position: absolute;
    left: 208px;
    top: 42px;
    width: 49px;
    height: 31px;
    z-index: 1;
}

#apDiv14 {
    position: absolute;
    left: 105px;
    top: 3px;
    width: 50px;
    height: 31px;
    z-index: 1;
}

#apDiv15 {
    position: absolute;
    left: 105px;
    top: 42px;
    width: 50px;
    height: 31px;
    z-index: 1;
}

#apDiv16 {
    position: absolute;
    left: 622px;
    top: 577px;
    width: 251px;
    height: 25px;
    z-index: 1;
    text-align: right;
    font-size: 90%;
}

#apDiv17 {
    position: absolute;
    left: 2px;
    top: 42px;
    width: 83px;
    height: 32px;
    z-index: 1;
}

#apDiv18 {
    position: absolute;
    left: 156px;
    top: 16px;
    width: 132px;
    height: 226px;
    z-index: 1;
}

#apDiv19 {
    position: absolute;
    left: 356px;
    top: 94px;
    width: 276px;
    height: 28px;
    z-index: 1;
}

#apDiv20 {
    position: absolute;
    left: 97px;
    top: 569px;
    width: 515px;
    height: 78px;
    z-index: 1;
    font-size: 22px;
}

#apDiv21 {
    position: absolute;
    left: 299px;
    top: 251px;
    width: 126px;
    height: 34px;
    z-index: 1;
}

#apDiv22 {
    position: absolute;
    left: 421px;
    top: 4px;
    width: 93px;
    height: 28px;
    z-index: 1;
}

#apDiv23 {
    position: absolute;
    left: 422px;
    top: 43px;
    width: 93px;
    height: 28px;
    z-index: 1;
}

#apDiv24 {
    position: absolute;
    left: 422px;
    top: 43px;
    width: 93px;
    height: 28px;
    z-index: 1;
}

#apDiv25 {
    position: absolute;
    left: 256px;
    top: 45px;
    width: 51px;
    height: 31px;
    z-index: 1;
}

#apDiv26 {
    position: absolute;
    left: 256px;
    top: 45px;
    width: 51px;
    height: 31px;
    z-index: 1;
}

#apDiv27 {
    position: absolute;
    left: 114px;
    top: 44px;
    width: 54px;
    height: 31px;
    z-index: 1;
}

#apDiv28 {
    position: absolute;
    left: 864px;
    top: 624px;
    width: 18px;
    height: 18px;
    z-index: 1;
}

#apDiv29 {
    position: absolute;
    left: 518px;
    top: 650px;
    width: 20px;
    height: 18px;
    z-index: 1;
}

#apDiv30 {
    position: absolute;
    left: 482px;
    top: 650px;
    width: 18px;
    height: 18px;
    z-index: 1;
}

#apDiv31 {
    position: absolute;
    left: 452px;
    top: 650px;
    width: 21px;
    height: 18px;
    z-index: 2;
}

#apDiv32 {
    position: absolute;
    left: 114px;
    top: 44px;
    width: 54px;
    height: 31px;
    z-index: 1;
}

#apDiv33 {
    position: absolute;
    left: 777px;
    top: 601px;
    width: 73px;
    height: 49px;
    z-index: 1;
}

#apDiv34 {
    position: absolute;
    left: 730px;
    top: 413px;
    width: 180px;
    height: 26px;
    z-index: 1;
    font-size: 90%;
    text-align: right;
}

#apDiv_34 {
    position: absolute;
    left: 730px;
    top: 476px;
    width: 181px;
    height: 26px;
    z-index: 1;
    font-size: 90%;
    text-align: right;
}

#apDiv35 {
    position: absolute;
    left: 241px;
    top: 439px;
    width: 91px;
    height: 31px;
    z-index: 1;
}

#apDiv36 {
    position: absolute;
    left: 598px;
    top: 661px;
    width: 126px;
    height: 102px;
    z-index: 1;
}


td.TotalRremaining {
    line-height: 40px;
}

td.MarkName_Short {
    line-height: 29px;
}

td.TotalDiscount {
    line-height: 38px;
}